/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #080c16;
}

.navBG {
  background: #0b0f1c;
}

.bodyBG {
  background: #080c16;
}

.containerBG {
  background: #0b111e;
}

button {
  cursor: pointer;
}
