@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #080c16;
}

.navBG {
  background: #0b0f1c;
}

.bodyBG {
  background: #080c16;
}

.containerBG {
  background: #0b111e;
}

button {
  cursor: pointer;
}

/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE / Legacy Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

.hide-scrollbar {
  overflow: auto;
}
